<div id="disqus_thread"></div>
<script type="text/javascript">
    var pid = "{{ site.url }}{{ page.url }}";
    var disqus_config = function () {        
        this.page.url = "{{ pid }}";
        this.page.identifier = "{{ pid }}";
    };

    var disqus_name = '{{ site.disqus }}';

    // You should be able to get the following lines of code from your Disqus admin.
    // https://disqus.com/admin/universalcode
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//'+ disqus_name +'.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        s.setAttribute("async", true);
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>